body{
	width: 100%;
	background-color: #f5f2f0;
	font-size: 12px;
	font-family: sans-serif;
	line-height: 1.5;
	color: #666;
}

a:link,a:visited{
	color: #822323;
	text-decoration: underline;
}

.wrapper_head{
	width: 960px;
	margin: 35px auto 0;
	position:relative;
}

.wrapper_contents{
	width: 890px;
	margin: 35px auto 0;
}

header{
	margin-bottom: 20px;
	overflow: hidden;
	position:relative;
	height: 115px;
}

header h1{
	position:absolute;
	right:360px;
	top: 0px;
}

.left-header_nav{
	float :left;
	width: 330px;
}

.header_nav{
	line-height: 2;
	overflow: hidden;
}

.header_nav ul{
	overflow: hidden;
}

.header_nav li{
	float: left;
	width: 140px;
}

.contact{
	background: url(../img/mail-icon.png) left center no-repeat;
	padding-left:20px;
}

.login{
	background: url(../img/login-icon.png) left center no-repeat;
	padding-left:25px;
}

.language{
	float: right;
	width: 300px;
	overflow: hidden;
}

.language li{
	float: left;
}

.language li a{
	display: block;
	text-align: center;
	padding: 0 10px;
	line-height: 1.5;
	border-right: 1px solid #666;
}

.language li:last-child a{
	border-right: none;
}

/*header*/


nav.g-nav{
	background-color: #822323;
	width:100%;
	height: 66px;
	text-align: center;
	}

nav ul{
	width: 896px;
	margin: 0 auto;
	overflow: hidden;
}

nav ul li:first-child{
	width: 230px;
}

nav ul li{
	float:left;
	width: 222px;
}

/*g-nav*/


.wrapper_pan-nav{
	width: 890px;
	margin: 10px auto ;
}

ol{
	margin-left: 35px;
}

ol li{
	background: url(../img/pan-nav_icon.png) right center no-repeat;
	padding-right: 15px;
	display: inline;
	margin-left: 5px;
}

ol li:last-child{
	background-image: none;
}

/*pan nav*/

.room-name{
	background: linear-gradient(to right,  #a82e2e 0%,#812323 100%);
	width:100%;
	height: 60px;
	text-align: center;
	}

.room-name_wrapper{
	width: 890px;
	margin: 0 auto;
}

.room-name h2{
	padding: 20px 45px 0;
	width: 310px;
}

/*room-name*/


.main-visual{
	width: 100%;
	height: 380px;
	background:url(../img/MainVisyual-room.jpg) center center no-repeat;
	background-size:cover ;
}

.main-visual_wrapper{
	width: 890px;
	margin: 0 auto;
}

.main-visual img{
	margin-top: 15px;
	margin-left: 45px;
}

/*main-visual*/


.contents{
	overflow: hidden;
	margin-bottom: 60px;
}

.main-left{
	float:left;
	width: 590px;
}

.main-right{
	float:right;
	width: 280px;
	margin-left: 20px;
}


.catchcopy{
	letter-spacing: 2px;
	font-size: 18px;
	font-family:"ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	color: #ac2f2f;
	margin-bottom: 30px;
}

/*catchcopy*/

.base-info{
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #fff;
	padding: 20px 0;
}

.left-base-info{
	float: left;
	width: 280px;
	overflow: hidden;
}

.right-bese-info{
	float: left;
	width: 165px;
	margin-left: 40px;
	margin-top: 15px;
}

h3{
	line-height: 1;
}

.base-info h3{
	border-bottom: 1px solid #ac2f2f;
	width: 240px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.base-info dl{
	font-size: 16px;
	float: left;
	width: 220px;
	margin-left: 30px;
	overflow: hidden;
}

.base-info dl dt{
	float: left;
	width: 70px;
	margin-bottom: 15px;
	clear: both;
	border-right: 1px solid #ac2f2f;
}

.base-info .bedsize{
	font-size: 14px;
}

.base-info dl dd{
	float: right;
	width: 149px;
	text-align: center;
}

.base-info .price{
	font-size: 12px;
}

/*base-info*/


.sub-info{
	background-color: #fff;
	padding: 20px 0;
}


.room-info{
	margin-bottom: 30px;
	overflow: hidden;
	line-height: 2;
}

.room-info h3{
	border-bottom: 1px solid #ac2f2f;
	width: 550px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.room-info ul{
	margin-left: 30px;
	overflow: hidden;
}

.room-info ul li{
	float: left;
	width: 280px;
}

.room-info p{
	margin-left: 30px;
}

/*room-info*/



.amenity{
	margin-bottom: 30px;
	overflow: hidden;
	line-height: 2;
}

.amenity h3{
	border-bottom: 1px solid #ac2f2f;
	width: 550px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.amenity ul{
	margin-left: 30px;
	overflow: hidden;
}

.amenity ul li{
	float: left;
	width: 185px;
}

/*amenity*/


.service{
	overflow: hidden;
	line-height: 2;
}

.service h3{
	border-bottom: 1px solid #ac2f2f;
	width: 550px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.service dl{
	margin-left: 30px;
}

.service dl dt{
	color: #ac2f2f;
}

.service dl dd{
	padding-left: 10px;
}

/*service*/


.reserved{
	margin-bottom: 30px;
	background-color: #fff;
	height: 440px;
	width: 280px;
}

.reserved h3{
	margin-bottom: 20px;
}

.reserved_button{
	text-align: center;
	margin-bottom: 15px;
}

.reserved dl{
	margin:0 0 0 20px;
	overflow: hidden;
}

.reserved dl dd{
	margin-bottom: 15px;
}

.reserved_ym{
	float: left;
	width: 72px;
	margin-right: 20px;
}

.reserved dl :nth-child(11){
	margin-bottom: 0;
}

.reserved p{
	text-align: center;
	font-size: 16px;
	margin-bottom: 40px;
}

.tel{
	float:left;
	width: 35px;
	color: #ac2f2f;
	margin-left: 50px;
}

.tel-number{
	float:right;
	width: 130px;
	margin-right: 50px;
}

/*reserved*/


.room-list{
	background-color: #fff;
	margin-bottom: 30px;
	overflow: hidden;
	line-height: 2;
}

.room-list ul li{
	padding: 15px 20px;
	background: #fff url(../img/border.png) bottom center no-repeat;
	/*margin-top: 20px;
	margin-left: 20px;
	border-bottom: 1px solid #ac2f2f;
	width: 220px;
	padding-bottom: 20px;
	padding-left: 20px;*/
}

.room-list ul li:last-child{
	background-image: none
}

.room-list .active{
	background: #ede2df ;
}

.room-list .suite dt{
	margin-bottom: 0;
}

.room-list dl{
	overflow: hidden;
}

.room-list dl dt{
	float: left;
	width: 60px;
	margin-bottom: 30px;
	padding-left: 15px;
	background: url(../img/icon.png) left center no-repeat;
}

.room-list dl dd{
	float: right;
	width: 120px;
	padding-left: 15px;
	background: url(../img/icon.png) left center no-repeat;
}


/*room-list*/


.recommend-plan{
	background-color: #fff;
	overflow: hidden;
	line-height: 1.5;
	padding-top: 20px;
}

.recommend-plan h3{
	border-bottom: 1px solid #ac2f2f;
	width: 240px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}


.recommend-plan_img,.recommend-plan p{
	margin: 0 20px;
}

.recommend-plan_img{
	margin-bottom: 10px;
}

.recommend-plan p{
	padding-bottom: 20px;
}

/*recommend-plan*/



footer{
	color: #fff;
	font-size: 10px;
	width: 100%;
}

footer ul li a:link,footer ul li a:visited{
	color: #fff;
	text-decoration: none;
}

footer dl dd a:link,footer dl dd a:visited{
	color: #fff;
	text-decoration: underline;
}

.foot-red-nav{
	width: 100%;
	background-color: #822323;
	height: 60px;
	padding-top: 10px;
}

.foot_wrapper_nav{
	width: 890px;
	margin: 0 auto;
}

footer ul{
	text-align: center;
	overflow: hidden;
	margin: 20px 0;
}

footer ul li{
	display: inline;
	width: 120px;
}

footer ul li a{
	padding: 15px;
	line-height: 1.5;
	border-right: 1px solid #fff;
}

footer li:last-child a{
	border-right: none;
}

.foot-red_hotel{
	width: 100%;
	background-color: #822323;
	height: 100px;
	padding-top: 10px;
	border-top: 1px solid #ac2f2f;
}

.foot_wrapper_hotel{
	width: 890px;
	margin: 0 auto;
}


footer dl{
	margin: 0 auto;
	width: 660px;
	overflow: hidden;
	line-height: 2;
	padding-top: 10px;
}

footer dl dt{
	float: left;
	width: 100px;
	margin-right: 40px;
	margin-bottom: 70px;
}

footer dl dd{
	float: left;
	width: 145px;
}



.foot-winered{
	background-color: #5e1919;
	height: 60px;
	padding-top: 15px;
}

.foot_wrapper_adress{
	width: 890px;
	margin: 0 auto;
	overflow: hidden;
}

footer p{
	float:left;
	width: 400px;
	margin-left: 40px;
	line-height: 2;
}

footer p small{
	float:right;
	width: 235px;
	margin-right: 40px;
}
